<div class="form-background">
  <div class="container p-3">
    <div class="logo">
      <%= image_tag ('Logo2-removebg-preview.png'), class: "logo-signed-out" %>
    </div>
      <%= button_to 'Sign In', new_user_session_path, method: :get, class: "btn" %>
      <%= button_to 'Sign Up', new_user_registration_path, method: :get, class: "btn" %>
  </div>
</div>
