<img src="http://drive.google.com/uc?export=view&id=1RN8hLnFHRn3Nr4wGLUnBoCbUVgzsv9_7"/>

<p>Hi <%= @email %>!</p>

<p>Welcome to Pro Football Stats! You can confirm your account email through the link below:</p>

<!--<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>-->
<a clicktracking=off href="<%= confirmation_url(@resource, confirmation_token: @token) %>">Confirm my account</a>
