<nav class="navbar navbar-expand-sm navbar-dark" id="player-navbar">
    <ul class="navbar-nav mr-auto" id="player-links">
      <li class="nav-item">
        <a class="nav-link" <%= link_to 'Passing', players_passing_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to 'Rushing', players_rushing_path %></a>
      </li>
      <li>
        <a class="nav-link" <%= link_to 'Receiving', players_receiving_path %></a>
      </li>
    </ul>
</nav>
