<nav class="navbar  navbar-expand-sm navbar-dark" id="team-navbar">
  <ul class="navbar-nav mr-auto" id="team-links">
      <li class="nav-item">
        <a class="nav-link" <%= link_to 'Passing', teams_passing_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to 'Rushing', teams_rushing_path %></a>
      </li>
      <li>
        <a class="nav-link" <%= link_to 'Defense', teams_defense_path %></a>
      </li>
    </ul>
</nav>
